button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: 0.1s all;
}

button:not(.currentDay):hover {
  background-color: #EEEEEE;
}

.calendarContainer {
  height: fit-content;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0 0 2px;
  padding: 0.5rem;
}

.calendarHeader {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.calendarDateDiv {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrowButton {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 2px;
}

.arrowButton:disabled {
  cursor: not-allowed;
}

.arrowButton img {
  height: 1rem;
}

.dateButton {
  border-radius: 100px;
  font-size: 0.875rem;
  padding: 0.25rem 0.625rem;
}

.dateOption {
  min-height: 42.8px;
  max-height: 100%;
  width: 100%;
  font-size: 14px;
}

.dateOptionsGrid {
  height: 214px;
  width: 210px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 0.25rem;
  overflow-y: auto;
}

.dateOptionsGrid::-webkit-scrollbar {
  width: 8px;
}

.dateOptionsGrid::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 100px;
}
 
.dateOptionsGrid::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

.dateOptionsGrid::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.weekDaysGrid {
  height: 30px;
  width: 210px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  margin: 0.25rem 0;
}

.monthDaysGrid {
  height: 180px;
  width: 210px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.weekDay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
}

.monthDay {
  height: 100%;
  width: 100%;
  color: #707070;
}

.currentMonthDay {
  color: #000000;
}

.currentDay {
  background-color: #2060ff;
  color: white;
}
