button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  transition: 0.1s all;
}

button:not(.react-super-calendar-current-day):hover {
  background-color: #EEEEEE;
}

.react-super-calendar-container {
  height: fit-content;
  width: fit-content;
  border-radius: 4px;
  box-shadow: 0 0 2px;
  padding: 0.5rem;
}

.react-super-calendar-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.react-super-calendar-month-year-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.react-super-calendar-month-year-button {
  border-radius: 100px;
  font-size: 0.875rem;
  padding: 0.25rem 0.625rem;
}

.react-super-calendar-arrow-button {
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 2px;
}

.react-super-calendar-arrow-button:disabled {
  cursor: not-allowed;
}

.react-super-calendar-arrow-button img {
  height: 1rem;
}

.react-super-calendar-month-year-grid {
  height: calc((7 * 30px) + 4);
  width: calc(7 * 30px);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-top: 0.25rem;
  overflow-y: auto;
}

.react-super-calendar-month-year-grid::-webkit-scrollbar {
  width: 8px;
}

.react-super-calendar-month-year-grid::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 100px;
}
 
.react-super-calendar-month-year-grid::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 100px;
}

.react-super-calendar-month-year-grid::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.react-super-calendar-month-year-grid-button {
  min-height: 42.8px;
  max-height: 100%;
  width: 100%;
  font-size: 14px;
}

.react-super-calendar-week-days-grid {
  height: calc(1 * 30px);
  width: calc(7 * 30px);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
  margin: 0.25rem 0;
}

.react-super-calendar-week-day {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #707070;
}

.react-super-calendar-month-days-grid {
  height: calc(6 * 30px);
  width: calc(7 * 30px);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}

.react-super-calendar-month-day {
  height: 100%;
  width: 100%;
  color: #707070;
}

.react-super-calendar-current-month-days {
  color: #000000;
}

.react-super-calendar-current-day {
  background-color: #2060ff;
  color: white;
}
